.box {
    border: 1px black solid;
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

body,
html {
    height: 100%;
}
